<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">Create a new list</h1>
    <input
      #taskInputTitle
      class="input has-background-light is-medium"
      type="text"
      placeholder="Enter task name..."
    />
    <br /><br />

    <div class="button is-right">
      <div class="button is-medium" routerLink="/">Cancel</div>
      <div
        class="button is-primary has-text-white is-medium"
        (click)="createTask(taskInputTitle.value)"
      >
        Create
      </div>
    </div>
  </div>
</div>
